/* general */
.mobile_only {
    display: none;
}
.pc_only {
    display: block;
}

a {
    text-decoration: none
}
p {
    color: #e7e7e7;
}
span {
    color: #e7e7e7;
}
.text {
    color: #e7e7e7;
}
.link:hover {
    color: cornflowerblue;
}

body{
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #2b2c38;
}   
  .container {
    display: flex;
  }

  .container_body {
    display: flex;
  }

  .left {
    width: 38%;
    padding: 50px 20px 20px 20px;
    box-sizing: border-box;
  }

  .right {
    width: 62%;
    padding: 20px;
    box-sizing: border-box;
  }

  .heading {
    color: #d0d0d0;
    border-left: 6px solid; 
    padding-left: 10px;
  }
  .rectangle {
    border-left: 4px solid gray; 
    padding-left: 3px;
  }


/* background */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

/* profile */
#profile_icon {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
}
#profile_name {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
    width: 200px; 
    margin-bottom: 30px;
    font-size: 1.4em;
    color: #e7e7e7;
}
.contact {
    display: flex;
    align-items: center;
    margin: 0 auto; 
    width: 200px;
    margin-bottom: 10px;
}
.contact_icon {
    --border-radious: 50px; 
    width: 20px; 
    height: 20px; 
    border-radius: var(--border-radious); 
    margin-right: 8px;
}
.contact_text {
    font-size: 0.82em;
    color: #e7e7e7;
}

/* summary */
.summary {
    max-width: 700px;
    min-width: 200px;
    padding-left: 30px;
    font-size: 0.95em;
}

/* projects */
.projects_container {
    display: flex; 
    flex-direction: column; 
    gap: 15px;
    padding: 0px;
}
.projects_cargo {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
}
.projects_term {
    flex: 1; 
    text-align: left; 
    margin-left: 0px;
    font-size: 0.95em;
}
.projects_text {
    font-size: 1em; 
    margin: 0px 14px; 
    justify-content: center; 
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
}
.projects_content {
    background: rgba(0, 0, 0, 0.6); 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
.projects_content_title {
    margin: 12px 0 0 0;
    font-size: 1.8em; 
    /* margin: 0; */
}
.projects_content_text {
    font-size: 1em; 
    margin: 0; 
    padding: 16px 10px 10px;
}
.projects {
    flex: 3;
    display: block; 
    width: 90%; 
    max-width: 600px; 
    min-width: 0px; 
    height: 140px; 
    background-image:  var(--background-image); 
    background-size: cover; 
    background-position: center; 
    text-align: center; 
    color: white; 
    text-decoration: none; 
    position: relative; 
    padding: 20px; 
    border-radius: 10px; 
    overflow: hidden; 
    /* margin-right: 20px;  */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projects:hover {
    transform: scale(1.02); /* 2%拡大 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 影を強調して浮いているイメージ */
}

/* blogs */
.blogs {
    max-width: 700px;
    min-width: 200px;
    padding-left: 20px;
    font-size: 0.95em;
}
.blogs_subtitle {
    padding-left: 7px;
    color: #e7e7e7;
}
.pickup_container {
    display: flex; 
    justify-content: space-between; 
    gap: 0px 10px;
    margin-left: 20px;
}
.pickup_articles {
    flex: 1; 
    border-radius: 20px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pickup_articles:hover {
    transform: scale(1.02); /* 2%拡大 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 影を強調して浮いているイメージ */
}

.pickup_articles_img {
    width: 100%; 
    border-radius: 20px; 
}
.articles_latest_conatiner {
    padding-left: 15px;
}
.articles_latest {
    line-height: 1; /* line space */
    font-size: 0.95em;
}
.articles_latest:hover {
    color: cornflowerblue;
}
.ellipsis {
    width: 100%;  /* specify a more reasonable width */
    white-space: nowrap;  /* 1 line text */
    overflow: hidden;  /* hide overflow */
    text-overflow: ellipsis;  /* show "..." when overflow */
    color: #e7e7e7;
}


/* career */
.career_container {
    display: flex;
    border-left: 4px solid gray; 
    padding-left: 3px;
    align-items: center; 
    justify-content: flex-start;
    font-size: 0.95em;  
}
.career_left {
    display: flex;
    flex-direction: column; 
    text-align: center;
    justify-content: center; 
    padding: 0px 3vw;
}
.career_right {
    box-sizing: border-box;
}
.career_term {
    font-size: 1em; 
    margin: 0px 3px; 
    justify-content: center; 
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
}
.career_content {
    display: flex; 
    align-items: center;
}
.career_title {
    font-size: 1.2em;
}
.career_icon {
    width: 30px; 
    height: 30px; 
    border-radius: 5px; 
    margin-right: 8px;
}

/* skills */
.skills {
    padding-left: 20px;
    font-size: 0.95em;
}
.skill_container {
    margin-bottom: 15px;
    display: flex; 
    align-items: center;
    font-size: 0.95em;
  }
  .skill_icon {
    width: 40px; 
    height: 40px; 
    border-radius: 5px; 
    margin-left: 5px; 
    margin-right: 10px; 
    margin-bottom: 5px;
  }
  .skill_name {
    font-size: 1.1em;
    display: inline-block;
    width: 110px;
  }
  .stars {
    display: inline-block;
    font-size: small;
    color: #f5a623;
  }

.left_skills {
    width: 50%; /* Each section takes up half the width */
    padding: 10px;
    box-sizing: border-box;
}

.right_skills {
    width: 50%; /* Each section takes up half the width */
    padding: 10px;
    box-sizing: border-box;
}

/* communities */
.communities {
    padding-left: 20px;
    color: #e7e7e7;
    font-size: 0.95em;
}
.communities_content {
    margin-bottom: 17px;
}
.communities_titlebox {
    display: flex; 
    align-items: center;
}
.communities_title_icon {
    width: 24px; 
    height: 24px; 
    border-radius: 5px; 
    margin-right: 8px;
}
.communities_title {
    font-size: 1.1em; 
}
.communities_event {
    margin: 5px 0px 0px 30px;
}
.communities_repo {
    display: flex; 
    align-items: center; 
    margin-left: 50px;
}
.communities_repo_icon {
    width: 20px; 
    height: 20px; 
    margin-right: 8px;
}
.communities_repo_text {
    margin: 3px 0px;
}

/* footer */
.footer {   
    margin: 124px 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_github {
    display: flex; 
    align-items: center; 
    margin: 0px;
}
.footer_github_icon {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    margin-right: 8px;
}
.footer_github_text {
    margin: 5px 0px;
}
.footer_copyright {
    margin: 5px 0px; white-space: pre;
}

/* responsive */
/* under 600px */
@media (max-width: 800px) {
    .container_body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .left, .right {
        width: 100%;
        padding: 0 10vw;
        box-sizing: border-box;
      }
}
@media (max-width: 700px) {
    body{
        padding-right: 10%;
        padding-left: 10%;
    }
    .container_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        .left, .right {
        width: 100%;
        padding: 0 0vw;
        box-sizing: border-box;
        }
}
@media (max-width: 500px) {
    .mobile_only {
        display: block;
      }
    .pc_only {
        display: none;
    }
      
    .projects_cargo {
        display: unset; 
        align-items: center; 
        justify-content: flex-start;
        /* all: unset; */
    }
    .rectangle {
        padding-left: 10px;
    }
    .projects_text {
        padding: 15px 0px;
    }
}